.login-page {
    form {
        margin: auto;
    }

    .forgot-password {
        .ant-row {
            justify-content: right;

            .ant-form-item-control-input-content {
                display: flex;
                justify-content: space-between;
            }
        }
    }
padding-top:5rem;
    // margin-top:15rem;
}