@import "antd/dist/reset.css";
@import "./pages/home.scss";
@import './components/index.scss';
@import './pages/index.scss';
@import "react-toastify/dist/ReactToastify.css";

@import './responsive.scss';

.page-content {
  width: calc(100% - 74px);
  position: relative;
  display: flex;
  flex-direction: column;

  @include small() {
    width: 100%;
  }

  @include xs-small() {
    width: 100%;
  }

  @include mobileToTablet {
    width: 100%;
  }
}
.ant-pagination{
  .ant-pagination-item {
    background-color: white;
    border-radius: 10px;
  }
}
.page-container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  display: flex;

  .page-sidebar {
    width: 4.625rem;
    position: relative;
    background: rgba(0, 2, 23, 0.8);

    // backdrop-filter: blur(2px);
    @include mobileToTablet {
      width: 0rem;
    }

    @include small() {
      width: 0px;
    }

    @include xs-small() {
      width: 0px;
    }
  }

  .page-content {
    .page-header {
      @media (max-width:1199px) {
        width: 100% !important;
      }
      z-index: 2;
      background: aliceblue;
      position: fixed;
      width: calc(100% - 4.625rem);
    }
    background-color: #575757 !important; 
    // width: calc(100% - 74px);
    position: relative;
    display: flex;
    flex-direction: column;

    @include small() {
      // width: 100%;
    }

    @include xs-small() {
      width: 100%;
    }

    @include mobileToTablet {
      // width: 100%;
    }
  }

  .page-wrapper {
    // overscroll-behavior-x: contain;
    // overflow-y: scroll;
    // height: 100vh;

    @include mobileToTablet {
      min-height: calc(100vh - 6.375rem);
    }
    .disable-margin{
      margin-top: 0 !important;
    }
    .default-page {
     
          min-height: calc(100vh - 4rem);
      margin-top: 5.1rem;
    }
  }

  // .disable-scroll {
  //   overflow: hidden !important
  // }
}

::-webkit-scrollbar {
  width: 0.125rem;
  height: 0.125rem;
  border-radius: 0.25rem;

  // display: none;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a3a2a2;
  border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a3a2a2;
}
.ant-dropdown{
  .ant-dropdown-menu-title-content{
    width: 100%;
    display: block;
  }
}